<div></div>
{% schema %}
{
  "name": "Home collections name",
  "settings": [
    {
      	"type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  	"presets": [
  {
    "name": "Home collections",
    "settings": {
      "title": "Home collections"
    }
  }
]
}
{% endschema %}
