{{ 'wishlist.css' | asset_url | stylesheet_tag }}
<style>
    svg.remove-wishlist {
    display: block;
  }
</style>
<script>
     var work = "get";
     let responseData;
     fetch("http://localhost/breadcrumb-app/index.php?customer_id={{ customer.id}}&work="+work,
           {
             method: "POST",
             body: JSON.stringify({
             userId: 1,
             title: "Fix my bugs",
             completed: false,
             }),
             headers: {
               "Content-type": "application/json; charset=UTF-8",
             },
           }
          )
       .then((response) => response.text())
       .then((text) => {
         var jsonStrings = text.split('}').filter(Boolean).map(function (item) {
           return item + '}';
         });
         var dataArray = jsonStrings.map(function (item) {
             return JSON.parse(item);
         });
        if(dataArray!=""){

         var list=' <h2 class="title title--primary">YOUR WISHLIST</h2><div class="wishlist_box_wrap"><div class="wishlist_wrap">';
         dataArray.forEach(function (item) {
         list +='<div class="product_box""><a href="' + item.product_url + '"><div class="product-img"><img src="' + item.img_url + '"><button class="add-remove" onclick="remove('+item.product_id +')"><svg class="remove-wishlist" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon icon-wishlist bi bi-heart-fill" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg></button></div><h4>' + item.title +'</h4><div class="item_pice">' + item.price +'</div></a></div>';
         document.getElementById('displaylists').innerHTML = list;
         if (dataArray.length < 4) {
           var productBoxes = document.querySelectorAll(".product_box");
           productBoxes.forEach(function (element) {
             element.style.width = dataArray.length === 3 ? "30.5%" : dataArray.length === 2 ? "47.5%" : "98.5%";
           });
         }
         });}
         else{
            var list='<div class="cart__warnings"><h1 class="cart__empty-text">Your wishlist is empty</h1><a href="/collections/all" class="button">Continue shopping</a></div>';
            document.getElementById('displaylists').innerHTML = list;
         }
       })
       .catch((error) => console.error("Error:", error));

  var current_url=window.location.href;
  function remove(id){
    var variant_id=id;
    var work='remove';
    fetch("http://localhost/breadcrumb-app/index.php?product_id="+variant_id+"&customer_id={{ customer.id }}&work="+work,
          {
            method: "POST",
            body: JSON.stringify({
            userId: 1,
            title: "Fix my bugs",
            completed: false
            }),
            headers: {
              "Content-type": "application/json; charset=UTF-8"
            }
          })
      .then((text) => location.reload(current_url))
      .catch((error) => console.error('Error:', error));
  }
</script>

<div id="displaylists"></div>
{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
